<?xml version="1.0" ?>
<robot name="wheelchair">

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="root">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="wheelchair_new_reduced_compressed.obj" scale="0.36 0.28 0.36"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="wheelchair_new_compressed_vhacd.obj" scale="0.36 0.28 0.36"/>
      </geometry>
    </collision>
  </link>

  <link name="wheelchair_link">
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.38 0.32 0.34"/>
      <geometry>
        <cylinder radius="0.023" length="0.1"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.38 0.32 0.34"/>
      <geometry>
        <cylinder radius="0.023" length="0.1"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheelchair_joint" type="fixed">
    <parent link="root"/>
    <child link="wheelchair_link"/>
    <origin xyz="0 0 0"/>
  </joint>
</robot>
