<?xml version="1.0" ?>
<robot name="dinnerware">

    <material name="color">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

  <link name="spoon">
    <inertial>
      <mass value="1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.01" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="spoon_reduced_compressed.obj" scale="0.08 0.08 0.08"/>
      </geometry>
      <material name="color"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="spoon_vhacd.obj" scale="0.08 0.08 0.08"/>
      </geometry>
    </collision>
  </link>

</robot>